@import 'variables.css';
@import 'utilities.css';

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

@import 'reset.css';
